.hide{
	display: none;
}
.center{
	/*horizontal-align: center;*/
	/*vertical-align: center;*/
	text-align: center;
}
.right{
	/*vertical-align: right;*/
	text-align: right;
}
.left{
	/*vertical-align: right;*/
	text-align: left;
}
.just{
	/*vertical-align: right;*/
	text-align: justify;
}
/*
..trans{
  width: 400px;
  background-color: red;
  display: flex;
  justify- content: center;
}
table-print{
	font-size: 10px;
}
.table-print td, .table-print th{
	border: solid #C3C2C2;
	border-width: 1px;

}
.margin-row{
	border: solid #C3C2C2;
	border-width: 1px;
}


.table-head1{
	background-color: #485C81 !important;
	color:white !important;
	-webkit-print-color-adjust: exact;
}
.table-head2{
	background-color: #E9E9E9 !important;
	-webkit-print-color-adjust: exact;
}
.table-body{
	font-size: 10px;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 2px;
    vertical-align: top;
    /*border-top: 0px solid;*
}
.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 0px solid ;
}
.table-print thead>tr>th{
	padding:4px;
}
.no-border-row tr>td{
	border: solid 0px;
}
.with-border{ 
	/*para el total*
	border: solid 1px #C3C2C2 !important;
	font-size: 11px;
	font-weight: 600;
}

/*estilos para otras areas del documento*/

.red{
	color:red;
}
.cuadro-right{
	margin-top: -50px;background-color:white;color:black; font-size:10px;
}
.pequeno{
	font-size: 10px;
}
.print-margin{
	padding-left: 100px !important;
	padding-right: 100px !important;
}

