
<!DOCTYPE html> <html>

  <head>
    <meta name="description" content="Herramienta de geocodificación de Google Maps API" />
    <title>Herramienta de geocodificación de Google Maps API</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;client=gme-addictive&amp;channel=geocoder-tool&amp;libraries=places"></script>
    <script src="https://google-developers.appspot.com/maps/documentation/utils/geocoder/_static/js/mustache-bundle.js"></script>
    <script src="https://google-developers.appspot.com/maps/documentation/utils/geocoder/_static/js/jquery-bundle.js"></script>
    <script src="https://google-developers.appspot.com/maps/documentation/utils/geocoder/constants.js"></script>
    <script src="https://google-developers.appspot.com/maps/documentation/utils/geocoder/state.js"></script>
    <script src="https://google-developers.appspot.com/maps/documentation/utils/geocoder/util.js"></script>
    <!-- <script src="https://google-developers.appspot.com/maps/documentation/utils/geocoder/geocoder-tool.js"></script>  -->
    <script src="https://google-developers.appspot.com/maps/documentation/utils/geocoder/_static/js/geocoder-tool.js"></script>  
    <script type="text/mustache" id="resultsTemplate">
      <div class="result" id="result-{{i}}">
        <table><tbody>
          <tr valign="top">
            <td style="padding: 2px">
              <img id="result-{{i}}-marker-img" src="{{icon}}">
            </td>
            <td style="padding: 2px;">
              <p class="{{partialMatchClass}}">
                <strong class="warn">Partial match</strong>
              </p>
              <p class="result-formatted-address">
                <strong>Address:</strong>
              {{formattedAddress}}</p>
              <p class="result-location">
                <strong>Location:</strong>
              {{locationLatlng}}
              (type: <acronym title="{{locationTypeDescription}}">
                {{locationType}}</acronym>)</p>
              <p class="result-types">
                <strong>Types:</strong>
              {{resultTypes}}</p>
              <p class="{{postcodeLocalitiesClass}}">
                <strong>Postcode localities:</strong>
                {{#postcodeLocalitiesLinks}}
                  <a href="{{hash}}" class="visible-inline">{{name}}</a>
                {{/postcodeLocalitiesLinks}}
              </p>
              <div id="details-result-{{i}}">
              <p><span class="gray">Address components:</span></p>
              <table class="address-components"><tbody>
                {{#addressComponents}}
                <tr>
                  <td class="vtop">{{primaryType}}</td>
                  <td class="vtop">{{longName}}
                  {{#shortName}}
                  <br/><span class="gray">{{shortName}}</span>
                  {{/shortName}}
                  </td>
                  <td class="vtop"><span class="gray">{{nonPrimaryTypes}}</span></td>
                </tr>
                {{/addressComponents}}
              </tbody></table>
              {{#bounds}}
              <p class="result-bounds">
                <strong>Bounds:</strong> {{bounds.ne}} — {{bounds.sw}}</p>
              {{/bounds}}
              {{#viewport}}
              <p class="result-viewport">
                <strong>Viewport:</strong> {{viewport.ne}} — {{viewport.sw}}</p>
              {{/viewport}}
              {{#placeId}}
              <p class="result-placeid">
                <strong>Place ID:</strong>
                <a href="#place_id%3D{{placeId}}">{{placeId}}</a></p>
              {{/placeId}}
            </div></td>
          </tr>
        </tbody></table>
      </div>
    </script>  <link rel="stylesheet" type="text/css" href="https://google-developers.appspot.com/maps/documentation/utils/geocoder/styles.css">
  </head>

  <body>
    <div class="hidden">
      <div id="search-control-ui">
        <p>Ingresa una consulta de geocodificación o haz clic en el mapa para aplicar geocodificación inversa. Ingresa la direccíón: </p>
        <input id="query-input" autofocus>
        <input id="geocode-button" type="button" value="Geocodificación" />
        <div id="show-hide-options-div">
          <a id="show-options-link">Mostrar opciones</a> <a id="hide-options-link" class="hidden">Ocultar opciones</a>
        </div>
        <div id="search-options-div" class="hidden">
          <table>
            <tbody>
              <tr class="headers">
                <th>
                  Filtrado de componentes
                </th>
                <th>
                  <a class="learn-more-link" target="_atop" href="https://google-developers.appspot.com/maps/documentation/utils/geocoder/maps/documentation/geocoding/intro#ComponentFiltering">(?)</a>
                </th>
                <th>
                  Ejemplos
                </th>
              </tr>
              <tr>
                <td>
                  País
                </td>
                <td>
                  <select id="restrict-country-select"></select>
                </td>
                <td class="examples">
                  &nbsp;
                </td>
              </tr>
              <tr>
                <td>
                  <acronym title="establece coincidencias con todos los niveles del área administrativa."> Área administrativa</acronym>
                </td>
                <td>
                  <input id="restrict-administrative-area-input" />
                </td>
                <td class="examples">
                  Canarias, Tenerife
                </td>
              </tr>
              <tr>
                <td>
                  <acronym title="establece coincidencias con los tipos locality y sublocality."> Locality</acronym>
                </td>
                <td>
                  <input id="restrict-locality-input" />
                </td>
                <td class="examples">
                  La Laguna, Tegueste
                </td>
              </tr>
              <tr>
                <td>
                  <acronym title="establece coincidencias con postal-code y postal-code-prefix."> Postal code</acronym>
                </td>
                <td>
                  <input id="restrict-postal-code-input" />
                </td>
                <td class="examples">
                  38005, H0H 0H0
                </td>
              </tr>
              <tr>
                <td>
                  <acronym title="establece coincidencias con el nombre largo o corto de una calle. "> Route</acronym>
                </td>
                <td>
                  <input id="restrict-route-input" />
                </td>
                <td class="examples">
                  Bayshore Freeway
                </td>
              </tr>
              <tr class="headers">
                <th>
                  Restricción por región
                </th>
                <th>
                  <select id="bias-country-select"></select>
                </th>
                <th>
                  <a class="learn-more-link" target="_atop" href="https://google-developers.appspot.com/maps/documentation/utils/geocoder/maps/documentation/geocoding/intro#RegionCodes">(?)</a>
                </th>
              </tr>
              <tr class="headers">
                <th>
                  Restricción de viewports
                </th>
                <th>
                  <label id="bias-viewport-checkbox-label"
                      for="bias-viewport-checkbox">en esta ventana de visualización</label>
                  <input type="checkbox" id="bias-viewport-checkbox"
                      title="Aparecerá resaltada en verde."/>
                </th>
                <th>
                  <a class="learn-more-link" target="_atop" href="https://google-developers.appspot.com/maps/documentation/utils/geocoder/maps/documentation/geocoding/intro#Viewports">(?)</a>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="hide">
      <div id="results-control-ui" class="hidden">
        <div id="status-display-div">
          <p id="status-line"></p>
          <p id="status-linkbar">
            <span id="status-display-results-length">No</span> se encontraron resultados. (<span><a id="view-all-in-map-link">ver todos en el mapa</a></span>) [ <span><a id="status-display-json-link" target="_atop" href="">JSON</a></span> | <span><a id="status-display-xml-link" target="_atop" href="">XML</a></span> ] | [ <span><a id="hide-results-link">Contraer</a></span> <span><a id="show-results-link" class="hidden">Expandir</a></span> ]
          </p>
        </div>
        <div id="results-display-div"></div>
      </div>
      <div class="result hide" id="result-template-div">
        <table><tbody>
          <tr valign="top">
            <td style="padding: 2px">
              <img id="result-template-div-marker-img" src="" />
            </td>
            <td style="padding: 2px;">
              <p class="result-partial-match">
                <strong class="warn">Coincidencia parcial</strong>
              </p>
              <p class="result-formatted-address" id="dir">
                <strong>Dirección:</strong>
              </p>
              <p class="result-location">
                <strong>Ubicación:</strong>
              </p>
              <p class="result-types">
                <strong>Tipos:</strong>
              </p>
              <p class="result-postcode-localities">
                <strong>Localidades con código postal:</strong>
              </p>
              <div id="details-result-template-dev">
              <p><span class="gray">Componentes de la dirección:</span></p>
              <table class="address-components"><tbody>
              </tbody></table>
              <p class="result-bounds">
                <strong>Límites:</strong>
              </p>
              <p class="result-viewport">
                <strong>Ventana de visualización:</strong>
              </p>
            </td>
          </tr>
        </tbody></table>
      </div>
      </div>
    </div>
    <div id="map"></div>
    <input id="direccion">
    <button onclick="obtener()">Obtener</button>

  </body>

</html> 

<script type="text/javascript">

  function obtener() {
    // alert('hola');
    doc=document.getElementsByClassName('result-formatted-address');
    alert(doc[1].innerHTML);
    document.getElementById('direccion').value=doc[1].innerHTML.split('              ')[2];

  }

</script>