<style type="text/css">

  .mapex{
    /*height: 100%; */
    width: 100%;
  }
  .mapcn{
    width: 80%;
    /*height: 50%; */
  }
  .spanel{
    width: 20%;
    position: absolute;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .npanel{
    display: none;
  }

</style>
<!DOCTYPE html> <html>

  <head>
    <meta name="description" content="Herramienta de geocodificación de Google Maps API" />
    <title>Herramienta de geocodificación de Google Maps API</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;client=gme-addictive&amp;channel=geocoder-tool&amp;libraries=places"></script>
    <script src="https://google-developers.appspot.com/maps/documentation/utils/geocoder/_static/js/mustache-bundle.js"></script>
    <script src="https://google-developers.appspot.com/maps/documentation/utils/geocoder/_static/js/jquery-bundle.js"></script>
    <script src="https://google-developers.appspot.com/maps/documentation/utils/geocoder/constants.js"></script>
    <script src="https://google-developers.appspot.com/maps/documentation/utils/geocoder/state.js"></script>
    <script src="https://google-developers.appspot.com/maps/documentation/utils/geocoder/util.js"></script>
    <!-- <script src="https://google-developers.appspot.com/maps/documentation/utils/geocoder/geocoder-tool.js"></script>  -->
    <script src="https://google-developers.appspot.com/maps/documentation/utils/geocoder/geocoder-tool.js"></script>  
    <script type="text/mustache" id="resultsTemplate">
      <div class="result" id="result-{{i}}">
        <table><tbody>
          <tr valign="top">
            <td style="padding: 2px;">
              <p class="{{partialMatchClass}}">
                <strong class="warn">Partial match</strong>
              </p>
              <p class="result-formatted-address">
                <strong>Dirección:</strong>
              {{formattedAddress}}</p>
              <p class="result-location">
                <strong>Ubicación:</strong>
              {{locationLatlng}}
              (type: <acronym title="{{locationTypeDescription}}">
                {{locationType}}</acronym>)</p>
              </td>
          </tr>
        </tbody></table>
      </div>
    </script>  <link rel="stylesheet" type="text/css" href="https://google-developers.appspot.com/maps/documentation/utils/geocoder/styles.css">
  </head>

  <body>
    <div class="hidden">
      <div id="search-control-ui">
        <p>Ingresa una consulta de geocodificación o haz clic en el mapa para aplicar geocodificación inversa.</p>
        <input id="query-input" autofocus>
        <input id="geocode-button" type="button" value="Geocodificación" onclick="colocar()" />
        <div id="show-hide-options-div">
          <a id="show-options-link">Mostrar opciones</a> <a id="hide-options-link" class="hidden">Ocultar opciones</a>
        </div>
        <div id="search-options-div" class="hidden">
          <table>
            <tbody>
              <tr class="headers">
                <th>
                  Filtrado de componentes
                </th>
                <th>
                  <a class="learn-more-link" target="_atop" href="https://google-developers.appspot.com/maps/documentation/utils/geocoder/maps/documentation/geocoding/intro#ComponentFiltering">(?)</a>
                </th>
                <th>
                  Ejemplos
                </th>
              </tr>
              <tr>
                <td>
                  País
                </td>
                <td>
                  <select id="restrict-country-select"></select>
                </td>
                <td class="examples">
                  &nbsp;
                </td>
              </tr>
              <tr>
                <td>
                  <acronym title="establece coincidencias con todos los niveles del área administrativa."> Área administrativa</acronym>
                </td>
                <td>
                  <input id="restrict-administrative-area-input" />
                </td>
                <td class="examples">
                  Canarias, Tenerife
                </td>
              </tr>
              <tr>
                <td>
                  <acronym title="establece coincidencias con los tipos locality y sublocality."> Locality</acronym>
                </td>
                <td>
                  <input id="restrict-locality-input" />
                </td>
                <td class="examples">
                  La Laguna, Tegueste
                </td>
              </tr>
              <tr>
                <td>
                  <acronym title="establece coincidencias con postal-code y postal-code-prefix."> Postal code</acronym>
                </td>
                <td>
                  <input id="restrict-postal-code-input" />
                </td>
                <td class="examples">
                  38005, H0H 0H0
                </td>
              </tr>
              <tr>
                <td>
                  <acronym title="establece coincidencias con el nombre largo o corto de una calle. "> Route</acronym>
                </td>
                <td>
                  <input id="restrict-route-input" />
                </td>
                <td class="examples">
                  Bayshore Freeway
                </td>
              </tr>
              <tr class="headers">
                <th>
                  Restricción por región
                </th>
                <th>
                  <select id="bias-country-select"></select>
                </th>
                <th>
                  <a class="learn-more-link" target="_atop" href="https://google-developers.appspot.com/maps/documentation/utils/geocoder/maps/documentation/geocoding/intro#RegionCodes">(?)</a>
                </th>
              </tr>
              <tr class="headers">
                <th>
                  Restricción de viewports
                </th>
                <th>
                  <label id="bias-viewport-checkbox-label"
                      for="bias-viewport-checkbox">en esta ventana de visualización</label>
                  <input type="checkbox" id="bias-viewport-checkbox"
                      title="Aparecerá resaltada en verde."/>
                </th>
                <th>
                  <a class="learn-more-link" target="_atop" href="https://google-developers.appspot.com/maps/documentation/utils/geocoder/maps/documentation/geocoding/intro#Viewports">(?)</a>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="hide">
      <div id="results-control-ui" class="hidden">
        <div id="status-display-div">
          <p id="status-line"></p>
          <p id="status-linkbar">
            <span id="status-display-results-length">No</span> se encontraron resultados. (<span><a id="view-all-in-map-link">ver todos en el mapa</a></span>) <span><a id="status-display-json-link" target="_atop" href=""></a></span> <span><a id="status-display-xml-link" target="_atop" href=""></a></span> [ <span><a id="hide-results-link" class="btn btn-sm btn-success">Contraer</a></span> <span><a id="show-results-link" class="hidden">Detalles</a></span> ]
          </p>
        </div>
        <div id="results-display-div"></div>
      </div>
      <div class="result hide" id="result-template-div">
        <table><tbody>
          <tr valign="top">
            <td style="padding: 2px">
              <img id="result-template-div-marker-img" src="" />
            </td>
            <td style="padding: 2px;">
              <p class="result-partial-match">
                <strong class="warn">Coincidencia parcial</strong>
              </p>
              <p class="result-formatted-address" id="dir">
                <strong>Dirección:</strong>
              </p>
              <p class="result-location">
                <strong>Ubicación:</strong>
              </p>
              <p class="result-types">
                <strong>Tipos:</strong>
              </p>
              <p class="result-postcode-localities">
                <strong>Localidades con código postal:</strong>
              </p>
              <div id="details-result-template-dev">
              <p><span class="gray">Componentes de la dirección:</span></p>
              <table class="address-components"><tbody>
              </tbody></table>
              <p class="result-bounds">
                <strong>Límites:</strong>
              </p>
              <p class="result-viewport">
                <strong>Ventana de visualización:</strong>
              </p>
            </td>
          </tr>
        </tbody></table>
      </div>
      </div>
    </div>
    
      <div id="map" class="mapcn" >
        
      </div>
      <div class="spanel">
        <button class="btn btn-danger">Incendio</button>
      </div>
  </body>

</html> 

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdvYH2xHagCN1gxFTcrEDh4w7XkmnDeU8&callback=initMap" async defer></script> 